In [24]:
import pandas as pd
import re

In [42]:
df = pd.read_csv('melbourne_housing_data.csv')

In [53]:
# Agrupa os dados pelo vendedor
# Soma todas as colunas num√©ricasr
# Ordena os vendedores pela soma total de quartos
# Mostra os 10 primeiros resultados
df.groupby(['SellerG']).sum().sort_values('Rooms', ascending=False).head(10)

df.groupby('SellerG').agg(
    total_vendas=('Price', 'sum'),
    total_quartos=('Rooms', 'sum'),
    quantidade_imoveis=('Price', 'count'),
    preco_medio=('Price', 'mean')
).sort_values('total_vendas', ascending=False).head(10)

               total_vendas  total_quartos  quantidade_imoveis   preco_medio
SellerG
Jellis         5.301902e+09          16948                4088  1.296943e+06
Nelson         4.089097e+09          13808                4008  1.020234e+06
Barry          4.022899e+09          22919                4818  8.349728e+05
Marshall       3.337732e+09           9437                1721  1.939414e+06
hockingstuart  3.174822e+09          12635                3465  9.162547e+05
Buxton         3.103258e+09          10707                2580  1.202813e+06
Ray            2.953669e+09          14961                3653  8.085597e+05
Fletchers      1.384292e+09           5402                1160  1.193355e+06
Biggin         1.002292e+09           4203                1022  9.807162e+05
Noel           9.618405e+08           3447                 835  1.151905e+06